.ultiAllAchs {
    height : 90vh;
    width : 100vw;
    font-family: 'Dongle' , sans-serif;
    font-size : 2rem;
    display : flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color : #ffff;
}

.allAchs {
    height : 80%;
    width : 95%;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap : 2rem;
}


@media (max-width : 700px){
    .ultiAllAchs{
        height : 100%;
    }
    
    .allAchs {
        gap : 0;
    }
}